{% extends 'site/base.html' %}

{% block 'corp' %}
{% load static %}
<section id="ajout" class="ajout">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Modifier</h2>
      </div>

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
            <form action="" method="post" class="info-box">
                {%csrf_token%}


                <div class="row">
                    <div class="col-lg-6 form-group">
                        <input class="form-control"  type="text" name="nom" id="" required  value="{{ data.nom }}">
                    </div>
                    
                    <div class="col-lg-6 form-group">
                        <input class="form-control"  type="text" name="responsable" id=""  required  value="{{ data.responsable }}">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <input class="form-control"  type="text" name="adjoint" id=""  required  value="{{ data.adjoint }}">
                    </div>
                </div>
                
            </form>
            <br>
            <button type="submit" class="btn btn-primary" >Entrer</button>

      </div>
      
</div>

    </div>

  </section><!-- End Contact Us Section -->

{% endblock %}