{% extends 'site/base.html' %}

{% block 'corp' %}
{% load static %}
<section id="ajout" class="ajout">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Ajouter les Personnels</h2>
      </div>

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
            <form action="{% url 'urladdPatient' %}" method="post" class="info-box">
                {%csrf_token%}


                <div class="row">
                    <div class="col-lg-6 form-group">
                        <input class="form-control"  type="text" name="nom" id="" required  placeholder="Entrez le nom">
                    </div>
                    
                    <div class="col-lg-6 form-group">
                        <input class="form-control"  type="text" name="prenom" id=""  required  placeholder="Entrez le prenom">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <input class="form-control"  type="text" name="age" id=""  required  placeholder="Entrez la age">
                    </div>
                    <div class="col-lg-6 form-group">
                        <input class="form-control"  type="text" name="sexe" id=""  required  placeholder="sexe">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <input class="form-control"  type="text" name="medecin" id= "" required  placeholder="Enrtrez le medecin">
                    </div>
                    <div class="col-lg-6 form-group">
                        <input class="form-control"  type="text" name="telephone" id= "" required  placeholder="Enrtrez le numero de telephone">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <input class="form-control"  type="date" name="date" id="" required  placeholder="Entrer la date">
                    </div>
                
                    <div class="col-lg-6 form-group">
                        <input class="form-control"  type="text" name="examen" id="" required  placeholder="Entrez le nom de l'examen">
                    </div>
                </div>

                
            </form>
            <br>
            <button type="submit" class="btn btn-primary" >Entrer</button>

      </div>
      
</div>

    </div>

  </section><!-- End Contact Us Section -->

{% endblock %}