{% extends 'site/base.html' %}

{% block 'corp' %}
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Nos contact</h2>
      </div>

      <div class="row">

        <div class="col-lg-6 d-flex" data-aos="fade-up">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>Our Address</h3>
            <p>A108 Adam Street, New York, NY 535022</p>
          </div>
        </div>

        <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Us</h3>
            <p>info@example.com<br>contact@example.com</p>
          </div>
        </div>

        <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="info-box ">
            <i class="bx bx-phone-call"></i>
            <h3>Call Us</h3>
            <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
          </div>
        </div>

<div class="col-md-12">
    <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Personnels</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>										
                        <th>nom</th>
                        <th>prenom</th>
                        <th>telephone</th>
                        <th>email</th>
                        <th>adresse</th>
                        <th>statut</th>
                        <th>date</th>
                        <th>actions</th>
                    </tr>
                </thead>
                {% csrf_token %}
                {% for i in tata %}
                <tbody>
                    <tr>											
                        <td>{{ i.nom}}</td>
                        <td>{{ i.prenom }}</td>
                        <td>{{ i.telephone }}</td>
                        <td>{{ i.email }}</td>
                        <td>{{ i.adresse }}</td>
                        <td>{{ i.statut }}</td>
                        <td>{{ i.date }}</td>
                        <td>
                        <button type="button" class="btn btn-outline-info mb-0"> <a href="{% url 'urlmodifierPersonnel' i.id %}"> <span class="ti-arrow-down">modifier</span></a> </button>
                        <button type="button" class="btn btn-outline-info mb-0"><a href="{% url 'urlsupprimerPersonnel' i.id %}"><span class="ti-arrow-down">supprimer</span></a></button>
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
                
            </table>
            <br>
                <button type="submit" class="btn btn-primary" ><a href="{% url 'urladdPersonnel' %}">Ajouter</a></button>

        </div>
    </div>
</div>
</section>
{% endblock %}